.DS_Store
node_modules
.tmp
.env
Videos/
__pycache__/
venv/
ENV/
chroma_db/
.vscode/
.local
testing/

# Git and version control
.git


# Python cache and virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
